.form__header {
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height:100%
}

.form__section__row {
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.form__section__row__multiSelect {
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
