/* ------------- end reset ----------- */

html, body {
  box-sizing: border-box;
  font-family: helvetica,sans-serif;
  font-size: 14px;
  color: #666;
  height:100%;
  width:100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#id, #id>div {
  height:100%;
  width:100%;
}

ol, ul {
  list-style: none;
  padding:0;
  margin:0;
}

a {
  padding:0;
  margin:0;
}
/* ------------- end reset ----------- */

.app {
  display: flex;
  flex-flow: column nowrap;
  height: 800px;
}

.signIn {
  display: flex;
  flex-flow: row nowrap;
  width:100%;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.signIn__outer {
  width:385px;
  height:420px;
}

  .signIn__header {
  height:73px;
}

.signIn__content {
  min-height:320px;
}

.signIn__form__header {
  display: flex;
  justify-content:flex-start;
}

.signIn__form__footer {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.mainHeader {
  height:78px;
  width:100%;
  margin-bottom:6px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.mainHeader__profile__links {
  display: flex;
  justify-content: center;
  width: 200px;
}

.mainHeader__profile__links__link {
  margin: 8px 0 0 8px;
  padding-left: 8px;
}

.mainBody {
  display:flex;
  height:100%;
}


/* ------------- flex ----------- */
.flexRow {
  display: flex;
  flex-flow: row nowrap;
  width:100%;
}

.flexColumn {
  display: flex;
  flex-flow: column nowrap;
  width:100%;
}


/* ------------- end flex ----------- */