.contentHeader {
  width: 100%;
  height: 41px;
  background: url(./images/content-header-silver.png) repeat-x scroll 0 0 transparent;
  margin-top:10px;
}

.contentHeader__headerSearch {
  background: url(./images/search-bg.png) no-repeat scroll 0 0 transparent;
  width: 178px;
  height: 25px;
  border: none;
  padding: 0 25px 0 30px;
  font-size: 12px;
}

.contentHeader__button__new {
  height:24px;
  width:29px;
  border-radius: 3px;
  border: 1px solid #c6c6c6;
  background: url(./images/icon-header-plus.png) no-repeat scroll 0 0 transparent;
}

.contentHeader__button__new:hover {
  height:24px;
  width:29px;
  border-radius: 3px;
  border: 1px solid #c6c6c6;
  background: url(./images/icon-header-plus.png) no-repeat scroll 0 -23px transparent;
}
