.list__header__right {
  margin-right: 20px;
}

.list__header__left {
  margin-left: 10px;
}


.list__cell__link {
  color:rgb(0, 0, 238);
  cursor: pointer;
}

.row-in-arrears {
  color: red;
  font-weight: bold;
  background-color: #ffdffd !important;
}

.row-gray {
  font-weight: bold;
  background-color: lightcyan !important;
}

.row-salmon {
  font-weight: bold;
  background-color: lightsalmon !important;
}

.list_header__button {
  background: url("./images/button-save-bg.png") repeat-x scroll 0 0 #CCCCCC;
  border: 1px solid #B7D6DE;
  height: 22px;
  width: 80px;
  color: #437182;
  margin-left:5px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
}

.list_header__button:hover {
  background: url("./images/button-save-bg-hover.png") repeat-x scroll 0 0 #CCCCCC;
}

.list_header__button:active {
  background: url("./images/button-save-bg-active.png") repeat-x scroll 0 0 #CCCCCC;
}