.menu {
  border: none;
  background: transparent;
  margin-left: 2px;
  margin-top: 10px;
}

.menu__breadcrumb {
  background: url("./images/left-nav-title.png") repeat-x scroll 0 0 #71A8C2;
  border-radius: 4px;
  margin-bottom:15px;
}

.menu__breadcrumb__list__item__icon {
  background: url("./images/left-nav-separator-icon.png") no-repeat scroll 6px 3px transparent;
  width:12px;
  height:13px;
}

.menu__breadcrumb__list__item__link  {
  color: #457495;
  font-size: .8em;
  text-decoration: underline;
}


.menu__breadcrumb__list__item__last__link {
  font-size: 1.1em;
  text-decoration: none;
  color: #FFFFFF;
}

.menu__breadcrumb__list__item {
  display: flex;
  margin: 5px 0px 2px 7px;
}

.menu__breadcrumb__list__item__last {
  margin: 2px 0px 5px 7px;
}

.menu__items {
}

.menu__item__node {
  padding: .34em 3%;
  line-height: 21px;
}

.menu__item__leaf__active, .menu__item__leaf:hover, .menu__item__node:hover {
  background: none repeat scroll 0 0 #D7E6ED;
  color: #457596;
}

.menu__item__node__link {
  color: #457596;
  font-size: 12px;
  font-family: Verdana,Arial,sans-serif;
}

.menu__item__node__link__icon {
  width:17px;
  background: url("./images/button-v-right.png") no-repeat scroll 0 0 transparent;
}

.menu__item__leaf {
  width: 92%;
  padding: .3em 3%;
  line-height: 21px;
  cursor: pointer;
}

.menu__item__leaf__link{
  color: #457596;
  font-size: 12px;
  font-family: Verdana,Arial,sans-serif;
  text-decoration: none;
}
