NODE_ENV=development
API_BASE_URL=http://localhost:3666/
API_HOST=localhost
API_PORT=3000
FRONT_END_HOST=0.0.0.0
FRONT_END_HOST_ALT=localhost
FRONT_END_PORT=8888
APPLICATION_KEYS=MethodFitness
LOGGING_LEVEL=silly
LOGGING_TRANSPORTS="console|loggly"
POSTGRES_USER=methodfitness
POSTGRES_DATABASE=methodfitness
POSTGRES_HOST=postgres
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
SWAGGER_UI_URL=http://localhost:4666
EVENTSTORE_HOST=eventstore
EVENTSTORE_USER=admin
EVENTSTORE_PASSWORD=changeit
NODE_CONFIG_DIR=./app/config
